<div class="header">
  <div class="container">
    <a class="header__logo" href="<%= base %>/">
      Quran-promise
    </a>
    <% if (path === '/') { %>
    <div class="header__hero">
      <img class="header__hero-img" src="<%= base %>/img/hero.svg" alt="quran-promise" />
      <p class="header__hero-desc">An ES6 promise enabled <br/>node module for the Holy Quran.</p>
      <%- include('stats'); %>
      <a class="header__hero-btn" href="<%= base %>/getting-started">Get Started</a>
      <a class="header__hero-btn header__hero-btn--muted" href="https://github.com/axis-tip/quran-promise">
        <img class="header__hero-btn-icon" src="<%= base %>/img/github-icon.svg" alt="GitHub" />
        View on GitHub
      </a>
    </div>
    <% } %>
  </div>
</div>
<% if (path === '/') { %>
<div class="header__version">
  <div class="container">
    <span>
      <a href="https://github.com/axis-tip/quran-promise/blob/master/CHANGELOG.md">changelog</a> | 
      <a href="https://www.npmjs.com/package/quran-promise">npm page</a>
    </span>
  </div>
</div>
<% } %>
